.gramado1{
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    border: 8px solid rgb(114, 115, 116);
 
}

.sp1{
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    border: 8px solid rgb(114, 115, 116);
}

.rj1{
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    border: 8px solid rgb(114, 115, 116);
}

.ceara1{
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    border: 8px solid rgb(114, 115, 116);
}

.mapagramado{
     font-size: 40px;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
}
.maparj{
     font-size: 40px;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
}
.mapasp{
     font-size: 40px;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
}
.mapaceara{
     font-size: 40px;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
}
.mapabahia{
     font-size: 40px;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
}
.G1{
    text-align: left;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}
.SP1{
    text-align: left;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}
.RJ1{
    text-align: left;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}
.C1{
    text-align: left;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}
.B1{
    text-align: left;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}
.bahia1{
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    border: 8px solid rgb(114, 115, 116);
}